.active-schedule{
    color: white !important;
}

.schedule-heading{
    font-weight: 500;
    border-bottom: 2px solid #848484;
    margin: 0;
}

.radio-item,
.schedule-heading {
    opacity: 0;
    animation: fadeInUp 0.5s ease-in-out forwards;
}

.radio-item:nth-child(1) {
    animation-delay: 0.2s;
}

.radio-item:nth-child(2) {
    animation-delay: 0.4s;
}

.radio-item:nth-child(3) {
    animation-delay: 0.6s;
}

.radio-item:nth-child(4) {
    animation-delay: 0.8s;
}

.radio-item:nth-child(5) {
    animation-delay: 1s;
}

.radio-item:nth-child(6) {
    animation-delay: 1.2s;
}

.radio-item:nth-child(7) {
    animation-delay: 1.4s;
}

.radio-item:nth-child(8) {
    animation-delay: 1.6s;
}

.radio-item:nth-child(9) {
    animation-delay: 1.8s;
}

.radio-item:nth-child(10) {
    animation-delay: 2s;
}

.radio-item:nth-child(11) {
    animation-delay: 2.2s;
}

.radio-item:nth-child(12) {
    animation-delay: 2.4s;
}

.radio-item:nth-child(13) {
    animation-delay: 2.6s;
}

.radio-item:nth-child(14) {
    animation-delay: 2.8s;
}

@media (max-width: 768px) {
    .mySchedule{
        transform: scale(0.85); 
    }
}

@media (max-width: 480px) {
    .active-schedule{
    border-bottom: white 1px solid;
    }
    .schedule-heading{
        text-align: center;
    }

    .schedule-heading .title-container{
        padding-left: 3.5rem;
    }
}

